@import './var.scss';

.sj-card {
  box-sizing: border-box;
  border-radius: var(--sj-border-radius);

  /* cover */
  &-cover {
    width: 100%;
    img {
      width: 100%;
      border-top-left-radius: var(--sj-border-radius);
      border-top-right-radius: var(--sj-border-radius);
    }
  }

  /* bordered */
  &-bordered {
    border: 1px solid var(--sj-border-color);
  }

  /* header */
  &-header {

    &-main {
      display: flex;
      align-items: center;
    }

    &-title {
      flex-grow: 1;
      font-weight: 500;
      color: var(--sj-title-color);
      font-size: var(--sj-font-size-large);

      .sj-icon {
        margin-right: 8px;
      }
    }

    &-description {
      margin-top: 8px;
      color: var(--sj-secondary-text-color);
      font-size: var(--sj-font-size-normal);
    }
  }

  /* size */
  @each $key,
  $value in $sj-card-size {
    &-size-#{$key} {
      .sj-card-header {
        padding: map-get($value, "padding");
        &-title {
          font-size: map-get($value, "title");

          .sj-icon {
            font-size: inherit;
          }
        }
      }

      .sj-card-content {
        padding: map-get($value, "padding");
        font-size: map-get($value, "content");
      }

      .sj-card-footer {
        padding: map-get($value, "padding");
      }
    }
  }

  /* divideble */
  &-divideble {
    .sj-card-content {
      border-top: 1px solid var(--sj-border-color);
      border-bottom: 1px solid var(--sj-border-color);
    }
  }

  /* no-padding */
  &-header-no-padding {
    .sj-card-header {
      padding: 0;
    }
  }
  &-content-no-padding {
    .sj-card-content {
      padding: 0;
    }
  }
  &-footer-no-padding {
    .sj-card-footer {
      padding: 0;
    }
  }

  /* shadow */
  &-shadow-always,
  &-shadow-hover:hover {
    box-shadow: var(--sj-shadow-level-1);
  }

  /* loading */
  &-content {
    &-loading {
      display: flex;
      flex-wrap: wrap;
      
      &-item {
        height: 16px;
        margin: 6px 0;
        flex-grow: 1;
        flex-shrink: 0;
        border-radius: var(--sj-border-radius);
        background-color: var(--sj-divider-color);
      }

      &-item:nth-of-type(1) {
        width: 100%;
        margin-top: 0;
      }

      &-item:nth-of-type(2) {
        width: 30%;
        margin-right: 8px;
      }

      &-item:nth-of-type(3) {
        width: 60%;
      }

      &-item:nth-of-type(4) {
        width: 60%;
        margin-right: 8px;
      }

      &-item:nth-of-type(5) {
        width: 30%;
      }

      &-item:nth-of-type(6) {
        width: 46%;
        margin-right: 8px;
      }

      &-item:nth-of-type(7) {
        width: 44%;
      }

      &-item:nth-of-type(8) {
        width: 20%;
        margin-right: 8px;
        margin-bottom: 0;
      }

      &-item:nth-of-type(9) {
        width: 10%;
        margin-right: 8px;
        margin-bottom: 0;
      }

      &-item:nth-of-type(10) {
        width: 60%;
        margin-bottom: 0;
      }
    }
  }
}