@keyframes sj-wave-opacity {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 0;
  }
}

@keyframes sj-wave-spread-primary {
  from {
    outline: 0.5px solid var(--sj-primary-color);
  }

  to {
    outline: 6px solid var(--sj-primary-color);
  }
}

.sj-wave-spread-active {
  animation-name: sj-wave-spread-primary, sj-wave-opacity;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.sj-wave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
}
