@import './var.scss';

.sj-input-number-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: var(--sj-border-radius);
  color: var(--sj-primary-text-color);

  /* size */
  @each $key,
  $value in $sj-input-number-size {
    &-size-#{$key} {
      height: map-get($value, "height");
      font-size: map-get($value, "fontSize");

      .sj-icon {
        font-size: inherit;
      }
    }
  }

  .sj-input-number {
    font-size: inherit;
    font-family: inherit;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    padding-left: 12px;
    border-color: var(--sj-border-color);
    border-radius: inherit;
    background-color: var(--sj-primary-background-color);

    input {
      flex-grow: 1;
      border-width: 0;
      border-radius: inherit;
      box-sizing: inherit;
      font-size: inherit;
      font-family: inherit;
      background-color: transparent;

      &:focus {
        outline-width: 0;
      }
    }

    &:hover {
      border-color: var(--sj-primary-color);

      .sj-input-number-controls {
        width: 22px;
        opacity: 1;
      }

      .sj-input-number-clear {
        display: block;
      }
    }

    &:focus-within {
      border-color: var(--sj-primary-color);
      outline: 3px solid var(--sj-primary-focus-background-color);

      input {
        caret-color: var(--sj-primary-color);
      }

      .sj-input-number-clear {
        display: block;
      }
    }

    /* invalid value */
    &-invalid-value {
      input {
        text-decoration: line-through;
      }
    }

    /* no controls */
    &-no-controls {
      padding-right: 12px;
    }

    /* clearable */
    &-clear {
      display: none;
      cursor: pointer;
      margin-left: 4px;
      color: var(--sj-disable-color);

      &:hover {
        color: var(--sj-secondary-text-color);
      }
    }

    /* controls btn */
    &-controls {
      cursor: pointer;
      box-sizing: border-box;
      display: inline-block;
      opacity: 0;
      width: 8px;
      height: 100%;
      margin-left: 4px;
      border-left: 1px solid var(--sj-border-color);
      transition: all 0.3s ease-in-out;

      &-add,
      &-minus {
        box-sizing: inherit;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .sj-icon {
          transform: scale(0.75);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          .sj-icon {
            color: var(--sj-primary-color);
            transform: scale(1);
          }
        }

        &-disabled {
          cursor: not-allowed;

          .sj-icon {
            color: var(--sj-disable-color);
          }

          &:hover {
            .sj-icon {
              color: var(--sj-disable-color);
              transform: scale(1);
            }
          }
        }
      }

      &-add {
        border-bottom: 1px solid var(--sj-border-color);
      }
    }

    /* border */
    &-border-block {
      border-width: 1px;
    }

    &-border-none {
      border-width: 0;

      &:focus-within {
        outline-width: 0;
      }
    }

    &-border-line {
      border-width: 0 0 1px 0;

      &:focus-within {
        outline-width: 0;
      }
    }

    /* prefix */
    &-prefix {
      margin-right: 4px;
    }

    /* suffix */
    &-suffix {
      margin-left: 4px;
    }

    /* status */
    @each $key,
    $value in $sj-input-number-status {
      &-status-#{$key} {
        border-color: map-get($value, "border-color");

        &:hover {
          border-color: map-get($value, "border-color");
        }

        &:focus-within {
          border-color: map-get($value, "border-color");
          outline-color: map-get($value, "outline-color-foucs");

          input {
            caret-color: map-get($value, "border-color");
          }
        }
      }
    }
  }

  /* disabled */
  &-disabled {
    position: relative;

    * {
      color: var(--sj-disable-color);
      border-color: var(--sj-border-color);
      background-color: transparent;
    }

    .sj-input-number-disabled-mask {
      cursor: not-allowed;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: var(--sj-background-color);
    }
  }
}
