.sj-menu {
  &-item {
    cursor: pointer;
    padding-right: 16px;
    box-sizing: border-box;
    height: var(--sj-height-large);
    line-height: var(--sj-height-large);

    &-icon {
      margin-right: 8px;
    }

    /* disabled */
    &-disabled {
      cursor: not-allowed;
      .sj-menu-item-icon > .sj-icon,
      .sj-menu-item-content {
        color: var(--sj-disable-color);
      }
    }

    /* avtive */
    &-active {
      background-color: var(--sj-primary-focus-background-color);

      .sj-menu-item-icon > .sj-icon,
      .sj-menu-item-content {
        color: var(--sj-primary-color);
      }
    }
  }
}
