.sj-menu {
  box-sizing: border-box;
  font-size: var(--sj-font-size-normal);
  color: var(--sj-primary-text-color);
  background-color: var(--sj-theme-background-color);

  &-inline,
  &-vertical {
    border-right: 1px solid var(--sj-border-color);
  }

  &-horizontal {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--sj-border-color);
  }

  &-light {
    color: var(--sj-light-primary-text-color);
    background-color: var(--sj-light-theme-background-color);
  }

  &-dark {
    color: var(--sj-dark-primary-text-color);
    background-color: var(--sj-dark-theme-background-color);
  }
}