.sj-menu {
  box-sizing: border-box;
  font-size: var(--sj-font-size-normal);

  &-inline,
  &-vertical {
    border-right: 1px solid var(--sj-border-color);
  }

  &-horizontal {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--sj-border-color);
  }
}