@import "./var.scss";

.sj-select {
  cursor: pointer;
  box-sizing: border-box;
  flex-grow: 1;
  color: var(--sj-primary-text-color);

  &-selector {
    box-sizing: inherit;
    width: 100%;
    color: inherit;
    border-width: 0;
    border-style: solid;
    border-radius: var(--sj-border-radius);
    display: flex;
    align-items: center;

    .sj-select-content {
      box-sizing: inherit;
      font-size: inherit;
      border-radius: inherit;
      flex-grow: 1;
      padding-left: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      &-item {
        box-sizing: inherit;
        font-size: inherit;
        border-radius: inherit;
      }

      &-tag {
        display: inline-flex;
        align-items: center;
        padding-left: 8px;
        padding-right: 6px;
        margin-right: 6px;
        margin-top: 2px;
        margin-bottom: 2px;
        border: 1px solid var(--sj-border-color);
        background-color: var(--sj-background-color);

        &-close {
          margin-left: 4px;
        }
      }

      /* placeholder */
      .sj-select-placeholder {
        color: var(--sj-secondary-text-color);
      }

      /* filter */
      .sj-select-filter {
        flex-grow: 1;
        border-width: 0;
        border-radius: inherit;
        box-sizing: inherit;
        font-size: inherit;
        font-family: inherit;
        background-color: transparent;
        caret-color: var(--sj-primary-color);

        /* ie */
        &::-ms-reveal {
          display: none;
        }

        &::-ms-clear {
          display: none;
        }

        &:focus {
          outline-width: 0;
        }

        &-single {
          position: absolute;
          left: 6px;
          right: 0;

          &:focus {
            background-color: rgba(255, 255, 255, 0.8);
          }
        }

        &-solid {
          background-color: rgba(255, 255, 255, 1);
          &:focus {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    .sj-select-arrow {
      flex-grow: 0;
      flex-shrink: 0;
      width: 28px;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s ease-in-out;

      &-up {
        transform: rotate(180deg);
      }
    }

    /* clearable */
    .sj-select-clear {
      display: none;
      cursor: pointer;
      margin-left: 8px;
      color: var(--sj-disable-color);
      .sj-icon {
        color: inherit;
      }

      &:hover {
        color: var(--sj-secondary-text-color);
      }
    }

    /* loading */
    .sj-select-loading-icon {
      margin-left: 8px;
      color: var(--sj-primary-color);
      .sj-icon {
        color: inherit;
      }
    }

    &:hover {
      .sj-select-clear {
        display: block;
      }
    }
  }

  &:hover {
    .sj-select-selector {
      border-color: var(--sj-primary-color);
    }
  }

  &:focus-within {
    .sj-select-selector {
      border-color: var(--sj-primary-color);
      outline: 3px solid var(--sj-primary-focus-background-color);
    }
  }

  /* size */
  @each $key, $value in $sj-select-size {
    &-size-#{$key} {
      .sj-select-selector {
        height: map-get($value, "height");
        font-size: map-get($value, "fontSize");

        .sj-select-content {
          height: inherit;
          &-item {
            width: 0;
            flex-grow: 1;
            flex-shrink: 1;
          }
        }

        .sj-select-filter {
          height: calc(map-get($value, "height") - 6px);
        }
      }
    }
    &-#{$key}-round {
      .sj-select-selector {
        border-radius: map-get($value, "height");
      }
    }
  }

  /* multiple size */
  @each $key, $value in $sj-select-size {
    &-multiple-size-#{$key} {
      min-height: map-get($value, "height");
      font-size: map-get($value, "fontSize");

      .sj-select-selector {
        .sj-select-content {
          min-height: inherit;
          &-tag {
            min-height: calc(map-get($value, "height") - 6px);
          }
        }

        .sj-select-filter {
          height: calc(map-get($value, "height") - 6px);
        }
      }
    }
    &-#{$key}-round {
      .sj-select-selector {
        border-radius: map-get($value, "height");
      }
    }
  }

  /* status */
  @each $key, $value in $sj-select-status {
    &-status-#{$key} {
      .sj-select-selector {
        border-color: map-get($value, "border-color");

        .sj-select-loading-icon {
          color: map-get($value, "border-color");
        }

        .sj-select-filter {
          caret-color: map-get($value, "border-color");
        }
      }

      &:hover {
        .sj-select-selector {
          border-color: map-get($value, "border-color");
        }
      }

      &:focus-within {
        .sj-select-selector {
          border-color: map-get($value, "border-color");
          outline-color: map-get($value, "outline-color-foucs");
        }
      }
    }
  }

  /* border */
  &-border-block {
    .sj-select-selector {
      border-width: 1px;
    }
  }

  &-border-none {
    .sj-select-selector {
      border-width: 0;
    }

    &:focus-within {
      .sj-select-selector {
        outline-width: 0;
      }
    }
  }

  &-border-line {
    .sj-select-selector {
      border-width: 0 0 1px 0;
    }

    &:focus-within {
      .sj-select-selector {
        outline-width: 0;
      }
    }
  }

  /* popup */
  &-popup {
    padding: 4px;
    box-sizing: border-box;
    border-radius: var(--sj-border-radius);
    overflow-y: auto;
    box-shadow: var(--sj-shadow-level-2);
    background-color: var(--sj-theme-background-color);

    .sj-select-empty,
    .sj-select-loading {
      box-sizing: inherit;
      padding: 4px 0;
      text-align: center;
      color: var(--sj-secondary-text-color);
    }
  }

  /* disabled */
  &-disabled {
    position: relative;

    .sj-select-selector {
      border-color: var(--sj-border-color);
      .sj-select-arrow > .sj-icon,
      .sj-select-content > .sj-select-content-item {
        color: var(--sj-disable-color);
      }
    }

    &:hover {
      .sj-select-selector {
        border-color: var(--sj-border-color);
      }
    }

    &:focus-within {
      .sj-select-selector {
        border-color: var(--sj-border-color);
        outline-width: 0;
      }
    }

    &:hover,
    &:focus-within {
      .sj-select-selector {
        .sj-select-clear {
          display: none;
        }
      }
    }

    .sj-select-disabled-mask {
      cursor: not-allowed;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: var(--sj-background-color);
    }
  }
}
