@import 'src/styles/var.scss';

$sj-switch-size: (
  normal: (
    height: 22px,
    min-width: 40px,
    dot-height: 18px,
    fontSize: var(--sj-font-size-normal)
  ),
  small: (
    height: 18px,
    min-width: 32px,
    dot-height: 14px,
    fontSize: var(--sj-font-size-small)
  ),
  large: (
    height: 26px,
    min-width: 48px,
    dot-height: 22px,
    fontSize: var(--sj-font-size-large)
  )
);

$sj-switch-dot-gap: 2px;
$sj-switch-dot-left: $sj-switch-dot-gap;
$sj-switch-track-width: 0;
$sj-switch-disabled-background-color: rgba(255, 255, 255, 0.6);
$sj-switch-transition-duration: 0.3s;
$sj-switch-transition-timing-function: ease;
