$sj-size: (
  normal: (
    height: var(--sj-height-normal),
    fontSize: var(--sj-font-size-normal)
  ),
  small: (
    height: var(--sj-height-small),
    fontSize: var(--sj-font-size-small)
  ),
  large: (
    height: var(--sj-height-large),
    fontSize: var(--sj-font-size-large)
  )
);

$sj-input-status: (
  success: (
    border-color: var(--sj-success-color),
    outline-color-foucs: var(--sj-success-focus-background-color),
  ),
  error: (
    border-color: var(--sj-error-color),
    outline-color-foucs: var(--sj-error-focus-background-color),
  ),
  warning: (
    border-color: var(--sj-warning-color),
    outline-color-foucs: var(--sj-warning-focus-background-color),
  ),
);
