@import './var.scss';

.sj-loading {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-bloom {
    display: inline-block;
    position: relative;
    animation: sj-loading-spin 5s ease-in-out infinite;

    .sj-loading-dot {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    .sj-loading-dot:nth-of-type(1) {
      opacity: 0.4;
      animation-name: sj-loading-dot1;
      background-color: var(--sj-primary-color);
    }

    .sj-loading-dot:nth-of-type(2) {
      opacity: 0.6;
      animation-name: sj-loading-dot2;
      background-color: var(--sj-primary-color);
    }

    .sj-loading-dot:nth-of-type(3) {
      opacity: 0.8;
      animation-name: sj-loading-dot3;
      background-color: var(--sj-primary-color);
    }

    .sj-loading-dot:nth-of-type(4) {
      animation-name: sj-loading-dot4;
      background-color: var(--sj-primary-color);
    }
  }

  /* size */
  @each $key,
  $value in $sj-loading-size {
    &-size-#{$key} {
      .sj-loading-bloom {
        width: map-get($value, "size");
        height: map-get($value, "size");
      }

      .sj-loading-tips {
        font-size: map-get($value, "fontSize");
      }
    }
  }

  /* tips */
  &-tips {
    margin-top: 12px;
  }
}

.sj-loading-container {
  position: relative;

  .sj-loading-fixed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .sj-loading-content {
    &-masked {
      user-select: none;
      pointer-events: none;
      opacity: 0.3;
    }
  }

  /* fit */
  &-fit {
    display: inline-block;
  }
}
