.sj-checkbox-group {
  display: inline-flex;
  &-horizontal {
    .sj-checkbox:not(:first-of-type) {
      margin-left: 16px;
    }
  }

  &-vertical {
    flex-direction: column;
    .sj-checkbox:not(:first-of-type) {
      margin-top: 16px;
    }
  }
}