@import './var.scss';

.sj-avatar {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: var(--sj-border-color);

  /* size */
  @each $key,
  $value in $sj-avatar-size {
    &-size-#{$key} {
      width: map-get($value, "height");
      height: map-get($value, "height");
      font-size: map-get($value, "fontSize");
    }
  }

  /* shape */
  &-shape {
    &-circle {
      border-radius: 50%;
    }

    &-square {
      border-radius: var(--sj-border-radius);
    }

    &-circle,
    &-square {
      img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        object-fit: fill;
        font-size: var(--sj-font-size-small);
      }
    }
  }

  /* bordered */
  &-bordered {
    border: 1px solid var(--sj-border-color);
  }

  .sj-icon {
    color: inherit;
    font-size: inherit;
  }

  &-text-content {
    font-size: inherit;
  }
}