@import './var.scss';

.sj-avatar {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* size */
  @each $key,
  $value in $avatar-size {
    &-size-#{$key} {
      width: map-get($value, "size");
      height: map-get($value, "size");

      .sj-avatar-text-content {
        font-size: map-get($value, "fontSize");
      }
    }
  }

  /* shape */
  &-shape {
    &-circle {
      border-radius: 50%;
    }

    &-square {
      border-radius: var(--sj-border-radius);
    }

    &-circle,
    &-square {
      img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        object-fit: fill;
        font-size: var(--sj-font-size-small);
      }
    }
  }

  /* bordered */
  &-bordered {
    border: 1px solid var(--sj-border-color);
  }
}