@keyframes sj-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sj-spin {
  animation: sj-spin 1s linear infinite;
}

@keyframes sj-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sj-ripple {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.sj-blink {
  animation: sj-blink 1.4s ease infinite;
}

.sj-global-message-slide-from-top-leave-active,
.sj-global-message-slide-from-bottom-leave-active,
.sj-global-message-slide-from-left-leave-active,
.sj-global-message-slide-from-right-leave-active {
  position: absolute;
  z-index: -1;
}

.sj-global-message-slide-from-top-enter-from,
.sj-global-message-slide-from-top-leave-to {
  opacity: 0;
  transform: translateY(-16px);
}

.sj-global-message-slide-from-bottom-enter-from,
.sj-global-message-slide-from-bottom-leave-to {
  opacity: 0;
  transform: translateY(16px);
}

.sj-global-message-slide-from-left-enter-from,
.sj-global-message-slide-from-left-leave-to {
  opacity: 0;
  transform: translateX(-16px);
}

.sj-global-message-slide-from-right-enter-from,
.sj-global-message-slide-from-right-leave-to {
  opacity: 0;
  transform: translateX(16px);
}

.sj-origin-scale-enter-active,
.sj-origin-scale-leave-active {
  transition: all 0.2s linear;
}

.sj-origin-scale-enter-from,
.sj-origin-scale-leave-to {
  opacity: 0;
  transform: scale(0);
}

/* popup transition */
.sj-popup-slide-from-top-enter-active,
.sj-popup-slide-from-top-leave-active,
.sj-popup-slide-from-bottom-enter-active,
.sj-popup-slide-from-bottom-leave-active,
.sj-popup-slide-from-left-enter-active,
.sj-popup-slide-from-left-leave-active,
.sj-popup-slide-from-right-enter-active,
.sj-popup-slide-from-right-leave-active {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sj-popup-slide-from-top-enter-from,
.sj-popup-slide-from-top-leave-to {
  transform: translateY(4px);
  opacity: 0;
}

.sj-popup-slide-from-bottom-enter-from,
.sj-popup-slide-from-bottom-leave-to {
  transform: translateY(-4px);
  opacity: 0;
}

.sj-popup-slide-from-left-enter-from,
.sj-popup-slide-from-left-leave-to {
  transform: translateX(4px);
  opacity: 0;
}

.sj-popup-slide-from-right-enter-from,
.sj-popup-slide-from-right-leave-to {
  transform: translateX(-4px);
  opacity: 0;
}
