:root {
  /* color */
  --sj-title-color: rgba(0, 0, 0, 0.85);
  --sj-primary-text-color: var(--sj-title-color);
  --sj-secondary-text-color: rgba(0, 0, 0, 0.45);
  --sj-disable-color: rgba(0, 0, 0, 0.25);
  --sj-border-color: rgba(0, 0, 0, 0.15);
  --sj-divider-color: rgba(0, 0, 0, 0.06);
  --sj-background-color: rgba(0, 0, 0, 0.04);
  --sj-table-header-background-color: rgba(0, 0, 0, 0.02);
  --sj-primary-background-color: rgba(255, 255, 255, 1);

  /* font-size */
  --sj-font-size-small: 12px;
  --sj-font-size-normal: 14px;
  --sj-font-size-large: 16px;

  /* block */
  --sj-height-small: 24px;
  --sj-height-normal: 32px;
  --sj-height-large: 40px;

  /* border */
  --sj-border-width: 1px;
  --sj-border-radius: 2px;

  /* shadow */
  /* 物体位于低层级，此时物体被操作(悬停、点击等)触发为悬浮状态，当操作完成或取消时，悬停状态反馈也跟随消失，物体回归到原有的层级中，如：卡片 hover 等； */
  --sj-shadow-level-1: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 5px 12px 4px rgba(0, 0, 0, 0.09);
  /* 物体位于中层级，此时物体与基准面的关系是展开并跟随，物体由地面上的元素展开产生，会跟随元素所在层级的移动而移动，如：下拉面板等； */
  --sj-shadow-level-2: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  /* 物体位于高层级，该物体的运动和其他层级没有关联，如：对话框等。 */
  --sj-shadow-level-3: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px 0px rgba(0, 0, 0, 0.06), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);

  /* font-family */
  --sj-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

$sj-size: (
  normal: (
    height: var(--sj-height-normal),
    fontSize: var(--sj-font-size-normal)
  ),
  small: (
    height: var(--sj-height-small),
    fontSize: var(--sj-font-size-small)
  ),
  large: (
    height: var(--sj-height-large),
    fontSize: var(--sj-font-size-large)
  )
);

$sj-input-status: (
  success: (
    border-color: var(--sj-success-color),
    outline-color-foucs: var(--sj-success-focus-background-color),
  ),
  error: (
    border-color: var(--sj-error-color),
    outline-color-foucs: var(--sj-error-focus-background-color),
  ),
  warning: (
    border-color: var(--sj-warning-color),
    outline-color-foucs: var(--sj-warning-focus-background-color),
  ),
);
