$sj-flex-justify: (
  start: flex-start,
  end: flex-end,
  center: center,
  space-between: space-between,
  space-around: space-around,
  space-evenly: space-evenly
);

$sj-flex-align: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);

$sj-flex-wrap: wrap, nowrap;

$sj-flex-direction: row, row-reverse, column, column-reverse;
