@font-face {
  font-family: "iconfont"; /* Project id 3397613 */
  src: url('iconfont.woff2?t=1652514022798') format('woff2')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading-c:before {
  content: "\e67b";
}

.loading-e:before {
  content: "\e644";
}

.loading-d:before {
  content: "\e61d";
}

.loading-b:before {
  content: "\e9d4";
}

.loading-f:before {
  content: "\e65e";
}

.loading-a:before {
  content: "\e6cd";
}

.laptop:before {
  content: "\e81e";
}

.crown-fill:before {
  content: "\e91e";
}

.barcode:before {
  content: "\e81f";
}

.mail-fill:before {
  content: "\e91f";
}

.camera:before {
  content: "\e820";
}

.car-fill:before {
  content: "\e920";
}

.cluster:before {
  content: "\e821";
}

.printer-fill:before {
  content: "\e921";
}

.gateway:before {
  content: "\e822";
}

.shop-fill:before {
  content: "\e922";
}

.car:before {
  content: "\e823";
}

.setting-fill:before {
  content: "\e923";
}

.printer:before {
  content: "\e824";
}

.USB-fill:before {
  content: "\e924";
}

.read:before {
  content: "\e825";
}

.golden-fill:before {
  content: "\e925";
}

.cloud-server:before {
  content: "\e826";
}

.build-fill:before {
  content: "\e926";
}

.cloud-upload:before {
  content: "\e827";
}

.boxplot-fill:before {
  content: "\e927";
}

.cloud:before {
  content: "\e828";
}

.sliders-fill:before {
  content: "\e928";
}

.cloud-download:before {
  content: "\e829";
}

.alibaba:before {
  content: "\e929";
}

.cloud-sync:before {
  content: "\e82a";
}

.antdesign:before {
  content: "\e92a";
}

.video:before {
  content: "\e82b";
}

.ant-cloud:before {
  content: "\e92b";
}

.notification:before {
  content: "\e82c";
}

.behance:before {
  content: "\e92c";
}

.sound:before {
  content: "\e82d";
}

.googleplus:before {
  content: "\e92d";
}

.radarchart:before {
  content: "\e82e";
}

.medium:before {
  content: "\e92e";
}

.qrcode:before {
  content: "\e82f";
}

.google:before {
  content: "\e92f";
}

.fund:before {
  content: "\e830";
}

.IE:before {
  content: "\e930";
}

.image:before {
  content: "\e831";
}

.amazon:before {
  content: "\e931";
}

.mail:before {
  content: "\e832";
}

.slack:before {
  content: "\e932";
}

.table:before {
  content: "\e833";
}

.alipay:before {
  content: "\e933";
}

.idcard:before {
  content: "\e834";
}

.taobao:before {
  content: "\e934";
}

.creditcard:before {
  content: "\e835";
}

.zhihu:before {
  content: "\e935";
}

.heart:before {
  content: "\e836";
}

.HTML:before {
  content: "\e936";
}

.block:before {
  content: "\e837";
}

.linkedin:before {
  content: "\e937";
}

.error:before {
  content: "\e838";
}

.yahoo:before {
  content: "\e938";
}

.star:before {
  content: "\e839";
}

.facebook:before {
  content: "\e939";
}

.gold:before {
  content: "\e83a";
}

.skype:before {
  content: "\e93a";
}

.heatmap:before {
  content: "\e83b";
}

.CodeSandbox:before {
  content: "\e93b";
}

.wifi:before {
  content: "\e83c";
}

.chrome:before {
  content: "\e93c";
}

.attachment:before {
  content: "\e83d";
}

.codepen:before {
  content: "\e93d";
}

.edit:before {
  content: "\e83e";
}

.aliwangwang:before {
  content: "\e93e";
}

.key:before {
  content: "\e83f";
}

.apple:before {
  content: "\e93f";
}

.api:before {
  content: "\e840";
}

.android:before {
  content: "\e940";
}

.disconnect:before {
  content: "\e841";
}

.sketch:before {
  content: "\e941";
}

.highlight:before {
  content: "\e842";
}

.Gitlab:before {
  content: "\e942";
}

.monitor:before {
  content: "\e843";
}

.dribbble:before {
  content: "\e943";
}

.link:before {
  content: "\e844";
}

.instagram:before {
  content: "\e944";
}

.man:before {
  content: "\e845";
}

.reddit:before {
  content: "\e945";
}

.percentage:before {
  content: "\e846";
}

.windows:before {
  content: "\e946";
}

.pushpin:before {
  content: "\e847";
}

.yuque:before {
  content: "\e947";
}

.phone:before {
  content: "\e848";
}

.Youtube:before {
  content: "\e948";
}

.shake:before {
  content: "\e849";
}

.Gitlab-fill:before {
  content: "\e949";
}

.tag:before {
  content: "\e84a";
}

.dropbox:before {
  content: "\e94a";
}

.wrench:before {
  content: "\e84b";
}

.dingtalk:before {
  content: "\e94b";
}

.tags:before {
  content: "\e84c";
}

.android-fill:before {
  content: "\e94c";
}

.scissor:before {
  content: "\e84d";
}

.apple-fill:before {
  content: "\e94d";
}

.mr:before {
  content: "\e84e";
}

.HTML-fill:before {
  content: "\e94e";
}

.share:before {
  content: "\e84f";
}

.windows-fill:before {
  content: "\e94f";
}

.branches:before {
  content: "\e850";
}

.QQ:before {
  content: "\e950";
}

.fork:before {
  content: "\e851";
}

.twitter:before {
  content: "\e951";
}

.shrink:before {
  content: "\e852";
}

.skype-fill:before {
  content: "\e952";
}

.arrawsalt:before {
  content: "\e853";
}

.weibo:before {
  content: "\e953";
}

.verticalright:before {
  content: "\e854";
}

.yuque-fill:before {
  content: "\e954";
}

.verticalleft:before {
  content: "\e855";
}

.Youtube-fill:before {
  content: "\e955";
}

.right:before {
  content: "\e856";
}

.yahoo-fill:before {
  content: "\e956";
}

.left:before {
  content: "\e857";
}

.wechat-fill:before {
  content: "\e957";
}

.up:before {
  content: "\e858";
}

.chrome-fill:before {
  content: "\e958";
}

.down:before {
  content: "\e859";
}

.alipay-circle-fill:before {
  content: "\e959";
}

.fullscreen:before {
  content: "\e85a";
}

.aliwangwang-fill:before {
  content: "\e95a";
}

.fullscreen-exit:before {
  content: "\e85b";
}

.behance-circle-fill:before {
  content: "\e95b";
}

.doubleleft:before {
  content: "\e85c";
}

.amazon-circle-fill:before {
  content: "\e95c";
}

.doubleright:before {
  content: "\e85d";
}

.codepen-circle-fill:before {
  content: "\e95d";
}

.arrowright:before {
  content: "\e85e";
}

.CodeSandbox-circle-f:before {
  content: "\e95e";
}

.arrowup:before {
  content: "\e85f";
}

.dropbox-circle-fill:before {
  content: "\e95f";
}

.arrowleft:before {
  content: "\e860";
}

.github-fill:before {
  content: "\e960";
}

.arrowdown:before {
  content: "\e861";
}

.dribbble-circle-fill:before {
  content: "\e961";
}

.upload:before {
  content: "\e862";
}

.googleplus-circle-f:before {
  content: "\e962";
}

.colum-height:before {
  content: "\e863";
}

.medium-circle-fill:before {
  content: "\e963";
}

.vertical-align-botto:before {
  content: "\e864";
}

.QQ-circle-fill:before {
  content: "\e964";
}

.vertical-align-middl:before {
  content: "\e865";
}

.IE-circle-fill:before {
  content: "\e965";
}

.totop:before {
  content: "\e866";
}

.google-circle-fill:before {
  content: "\e966";
}

.vertical-align-top:before {
  content: "\e867";
}

.dingtalk-circle-fill:before {
  content: "\e967";
}

.download:before {
  content: "\e868";
}

.sketch-circle-fill:before {
  content: "\e968";
}

.sort-descending:before {
  content: "\e869";
}

.slack-circle-fill:before {
  content: "\e969";
}

.sort-ascending:before {
  content: "\e86a";
}

.twitter-circle-fill:before {
  content: "\e96a";
}

.fall:before {
  content: "\e86b";
}

.taobao-circle-fill:before {
  content: "\e96b";
}

.swap:before {
  content: "\e86c";
}

.weibo-circle-fill:before {
  content: "\e96c";
}

.stock:before {
  content: "\e86d";
}

.zhihu-circle-fill:before {
  content: "\e96d";
}

.rise:before {
  content: "\e86e";
}

.reddit-circle-fill:before {
  content: "\e96e";
}

.indent:before {
  content: "\e86f";
}

.alipay-square-fill:before {
  content: "\e96f";
}

.outdent:before {
  content: "\e870";
}

.dingtalk-square-fill:before {
  content: "\e970";
}

.menu:before {
  content: "\e871";
}

.CodeSandbox-square-f:before {
  content: "\e971";
}

.unorderedlist:before {
  content: "\e872";
}

.behance-square-fill:before {
  content: "\e972";
}

.orderedlist:before {
  content: "\e873";
}

.amazon-square-fill:before {
  content: "\e973";
}

.align-right:before {
  content: "\e874";
}

.codepen-square-fill:before {
  content: "\e974";
}

.align-center:before {
  content: "\e875";
}

.dribbble-square-fill:before {
  content: "\e975";
}

.align-left:before {
  content: "\e876";
}

.dropbox-square-fill:before {
  content: "\e976";
}

.pic-center:before {
  content: "\e877";
}

.facebook-fill:before {
  content: "\e977";
}

.pic-right:before {
  content: "\e878";
}

.googleplus-square-f:before {
  content: "\e978";
}

.pic-left:before {
  content: "\e879";
}

.google-square-fill:before {
  content: "\e979";
}

.bold:before {
  content: "\e87a";
}

.instagram-fill:before {
  content: "\e97a";
}

.font-colors:before {
  content: "\e87b";
}

.IE-square-fill:before {
  content: "\e97b";
}

.exclaimination:before {
  content: "\e87c";
}

.medium-square-fill:before {
  content: "\e97c";
}

.check-circle:before {
  content: "\e77d";
}

.font-size:before {
  content: "\e87d";
}

.linkedin-fill:before {
  content: "\e97d";
}

.CI:before {
  content: "\e77e";
}

.infomation:before {
  content: "\e87e";
}

.QQ-square-fill:before {
  content: "\e97e";
}

.Dollar:before {
  content: "\e77f";
}

.line-height:before {
  content: "\e87f";
}

.reddit-square-fill:before {
  content: "\e97f";
}

.compass:before {
  content: "\e780";
}

.strikethrough:before {
  content: "\e880";
}

.twitter-square-fill:before {
  content: "\e980";
}

.close-circle:before {
  content: "\e781";
}

.underline:before {
  content: "\e881";
}

.sketch-square-fill:before {
  content: "\e981";
}

.frown:before {
  content: "\e782";
}

.number:before {
  content: "\e882";
}

.slack-square-fill:before {
  content: "\e982";
}

.info-circle:before {
  content: "\e783";
}

.italic:before {
  content: "\e883";
}

.taobao-square-fill:before {
  content: "\e983";
}

.left-circle:before {
  content: "\e784";
}

.code:before {
  content: "\e884";
}

.weibo-square-fill:before {
  content: "\e984";
}

.down-circle:before {
  content: "\e785";
}

.column-width:before {
  content: "\e885";
}

.zhihu-square-fill:before {
  content: "\e985";
}

.EURO:before {
  content: "\e786";
}

.check:before {
  content: "\e886";
}

.zoomout:before {
  content: "\e986";
}

.copyright:before {
  content: "\e787";
}

.ellipsis:before {
  content: "\e887";
}

.apartment:before {
  content: "\e987";
}

.minus-circle:before {
  content: "\e788";
}

.dash:before {
  content: "\e888";
}

.audio:before {
  content: "\e988";
}

.meh:before {
  content: "\e789";
}

.close:before {
  content: "\e889";
}

.audio-fill:before {
  content: "\e989";
}

.plus-circle:before {
  content: "\e78a";
}

.enter:before {
  content: "\e88a";
}

.robot:before {
  content: "\e98a";
}

.play-circle:before {
  content: "\e78b";
}

.line:before {
  content: "\e88b";
}

.zoomin:before {
  content: "\e98b";
}

.question-circle:before {
  content: "\e78c";
}

.minus:before {
  content: "\e88c";
}

.robot-fill:before {
  content: "\e98c";
}

.Pound:before {
  content: "\e78d";
}

.question:before {
  content: "\e88d";
}

.bug-fill:before {
  content: "\e98d";
}

.right-circle:before {
  content: "\e78e";
}

.rollback:before {
  content: "\e88e";
}

.bug:before {
  content: "\e98e";
}

.smile:before {
  content: "\e78f";
}

.small-dash:before {
  content: "\e88f";
}

.audiostatic:before {
  content: "\e98f";
}

.trademark:before {
  content: "\e790";
}

.pause:before {
  content: "\e890";
}

.comment:before {
  content: "\e990";
}

.time-circle:before {
  content: "\e791";
}

.bg-colors:before {
  content: "\e891";
}

.signal-fill:before {
  content: "\e991";
}

.timeout:before {
  content: "\e792";
}

.crown:before {
  content: "\e892";
}

.verified:before {
  content: "\e992";
}

.earth:before {
  content: "\e793";
}

.drag:before {
  content: "\e893";
}

.shortcut-fill:before {
  content: "\e993";
}

.YUAN:before {
  content: "\e794";
}

.desktop:before {
  content: "\e894";
}

.videocameraadd:before {
  content: "\e994";
}

.up-circle:before {
  content: "\e795";
}

.gift:before {
  content: "\e895";
}

.switchuser:before {
  content: "\e995";
}

.warning-circle:before {
  content: "\e796";
}

.stop:before {
  content: "\e896";
}

.whatsapp:before {
  content: "\e996";
}

.sync:before {
  content: "\e797";
}

.fire:before {
  content: "\e897";
}

.appstoreadd:before {
  content: "\e997";
}

.transaction:before {
  content: "\e798";
}

.thunderbolt:before {
  content: "\e898";
}

.caret-down:before {
  content: "\e998";
}

.undo:before {
  content: "\e799";
}

.check-circle-fill:before {
  content: "\e899";
}

.backward:before {
  content: "\e999";
}

.redo:before {
  content: "\e79a";
}

.left-circle-fill:before {
  content: "\e89a";
}

.caret-up:before {
  content: "\e99a";
}

.reload:before {
  content: "\e79b";
}

.down-circle-fill:before {
  content: "\e89b";
}

.caret-right:before {
  content: "\e99b";
}

.reloadtime:before {
  content: "\e79c";
}

.minus-circle-fill:before {
  content: "\e89c";
}

.caret-left:before {
  content: "\e99c";
}

.message:before {
  content: "\e79d";
}

.close-circle-fill:before {
  content: "\e89d";
}

.fast-backward:before {
  content: "\e99d";
}

.dashboard:before {
  content: "\e79e";
}

.info-circle-fill:before {
  content: "\e89e";
}

.forward:before {
  content: "\e99e";
}

.issuesclose:before {
  content: "\e79f";
}

.up-circle-fill:before {
  content: "\e89f";
}

.fast-forward:before {
  content: "\e99f";
}

.poweroff:before {
  content: "\e7a0";
}

.right-circle-fill:before {
  content: "\e8a0";
}

.search:before {
  content: "\e9a0";
}

.logout:before {
  content: "\e7a1";
}

.plus-circle-fill:before {
  content: "\e8a1";
}

.retweet:before {
  content: "\e9a1";
}

.piechart:before {
  content: "\e7a2";
}

.question-circle-fill:before {
  content: "\e8a2";
}

.login:before {
  content: "\e9a2";
}

.setting:before {
  content: "\e7a3";
}

.EURO-circle-fill:before {
  content: "\e8a3";
}

.step-backward:before {
  content: "\e9a3";
}

.eye:before {
  content: "\e7a4";
}

.frown-fill:before {
  content: "\e8a4";
}

.step-forward:before {
  content: "\e9a4";
}

.location:before {
  content: "\e7a5";
}

.copyright-circle-fil:before {
  content: "\e8a5";
}

.swap-right:before {
  content: "\e9a5";
}

.edit-square:before {
  content: "\e7a6";
}

.CI-circle-fill:before {
  content: "\e8a6";
}

.swap-left:before {
  content: "\e9a6";
}

.export:before {
  content: "\e7a7";
}

.compass-fill:before {
  content: "\e8a7";
}

.woman:before {
  content: "\e9a7";
}

.save:before {
  content: "\e7a8";
}

.Dollar-circle-fill:before {
  content: "\e8a8";
}

.plus:before {
  content: "\e9a8";
}

.Import:before {
  content: "\e7a9";
}

.poweroff-circle-fill:before {
  content: "\e8a9";
}

.eyeclose-fill:before {
  content: "\e9a9";
}

.appstore:before {
  content: "\e7aa";
}

.meh-fill:before {
  content: "\e8aa";
}

.eye-close:before {
  content: "\e9aa";
}

.close-square:before {
  content: "\e7ab";
}

.play-circle-fill:before {
  content: "\e8ab";
}

.clear:before {
  content: "\e9ab";
}

.down-square:before {
  content: "\e7ac";
}

.Pound-circle-fill:before {
  content: "\e8ac";
}

.collapse:before {
  content: "\e9ac";
}

.layout:before {
  content: "\e7ad";
}

.smile-fill:before {
  content: "\e8ad";
}

.expand:before {
  content: "\e9ad";
}

.left-square:before {
  content: "\e7ae";
}

.stop-fill:before {
  content: "\e8ae";
}

.deletecolumn:before {
  content: "\e9ae";
}

.play-square:before {
  content: "\e7af";
}

.warning-circle-fill:before {
  content: "\e8af";
}

.merge-cells:before {
  content: "\e9af";
}

.control:before {
  content: "\e7b0";
}

.time-circle-fill:before {
  content: "\e8b0";
}

.subnode:before {
  content: "\e9b0";
}

.codelibrary:before {
  content: "\e7b1";
}

.trademark-circle-fil:before {
  content: "\e8b1";
}

.rotate-left:before {
  content: "\e9b1";
}

.detail:before {
  content: "\e7b2";
}

.YUAN-circle-fill:before {
  content: "\e8b2";
}

.rotate-right:before {
  content: "\e9b2";
}

.minus-square:before {
  content: "\e7b3";
}

.heart-fill:before {
  content: "\e8b3";
}

.insertrowbelow:before {
  content: "\e9b3";
}

.plus-square:before {
  content: "\e7b4";
}

.piechart-circle-fil:before {
  content: "\e8b4";
}

.insertrowabove:before {
  content: "\e9b4";
}

.right-square:before {
  content: "\e7b5";
}

.dashboard-fill:before {
  content: "\e8b5";
}

.table1:before {
  content: "\e9b5";
}

.project:before {
  content: "\e7b6";
}

.message-fill:before {
  content: "\e8b6";
}

.solit-cells:before {
  content: "\e9b6";
}

.wallet:before {
  content: "\e7b7";
}

.check-square-fill:before {
  content: "\e8b7";
}

.formatpainter:before {
  content: "\e9b7";
}

.up-square:before {
  content: "\e7b8";
}

.down-square-fill:before {
  content: "\e8b8";
}

.insertrowright:before {
  content: "\e9b8";
}

.calculator:before {
  content: "\e7b9";
}

.minus-square-fill:before {
  content: "\e8b9";
}

.formatpainter-fill:before {
  content: "\e9b9";
}

.interation:before {
  content: "\e7ba";
}

.close-square-fill:before {
  content: "\e8ba";
}

.insertrowleft:before {
  content: "\e9ba";
}

.check-square:before {
  content: "\e7bb";
}

.codelibrary-fill:before {
  content: "\e8bb";
}

.translate:before {
  content: "\e9bb";
}

.border:before {
  content: "\e7bc";
}

.left-square-fill:before {
  content: "\e8bc";
}

.deleterow:before {
  content: "\e9bc";
}

.border-outer:before {
  content: "\e7bd";
}

.play-square-fill:before {
  content: "\e8bd";
}

.sisternode:before {
  content: "\e9bd";
}

.border-top:before {
  content: "\e7be";
}

.up-square-fill:before {
  content: "\e8be";
}

.Field-number:before {
  content: "\e9be";
}

.border-bottom:before {
  content: "\e7bf";
}

.right-square-fill:before {
  content: "\e8bf";
}

.Field-String:before {
  content: "\e9bf";
}

.border-left:before {
  content: "\e7c0";
}

.plus-square-fill:before {
  content: "\e8c0";
}

.Function:before {
  content: "\e9c0";
}

.border-right:before {
  content: "\e7c1";
}

.accountbook-fill:before {
  content: "\e8c1";
}

.Field-time:before {
  content: "\e9c1";
}

.border-inner:before {
  content: "\e7c2";
}

.carryout-fill:before {
  content: "\e8c2";
}

.GIF:before {
  content: "\e9c2";
}

.border-verticle:before {
  content: "\e7c3";
}

.calendar-fill:before {
  content: "\e8c3";
}

.Partition:before {
  content: "\e9c3";
}

.border-horizontal:before {
  content: "\e7c4";
}

.calculator-fill:before {
  content: "\e8c4";
}

.index:before {
  content: "\e9c4";
}

.radius-bottomleft:before {
  content: "\e7c5";
}

.interation-fill:before {
  content: "\e8c5";
}

.Storedprocedure:before {
  content: "\e9c5";
}

.radius-bottomright:before {
  content: "\e7c6";
}

.project-fill:before {
  content: "\e8c6";
}

.Field-Binary:before {
  content: "\e9c6";
}

.radius-upleft:before {
  content: "\e7c7";
}

.detail-fill:before {
  content: "\e8c7";
}

.Console-SQL:before {
  content: "\e9c7";
}

.radius-upright:before {
  content: "\e7c8";
}

.save-fill:before {
  content: "\e8c8";
}

.icon-test:before {
  content: "\e9c8";
}

.radius-setting:before {
  content: "\e7c9";
}

.wallet-fill:before {
  content: "\e8c9";
}

.aim:before {
  content: "\e9c9";
}

.adduser:before {
  content: "\e7ca";
}

.control-fill:before {
  content: "\e8ca";
}

.compress:before {
  content: "\e9ca";
}

.deleteteam:before {
  content: "\e7cb";
}

.layout-fill:before {
  content: "\e8cb";
}

.expend:before {
  content: "\e9cb";
}

.deleteuser:before {
  content: "\e7cc";
}

.appstore-fill:before {
  content: "\e8cc";
}

.folder-view:before {
  content: "\e9cc";
}

.addteam:before {
  content: "\e7cd";
}

.mobile-fill:before {
  content: "\e8cd";
}

.file-GIF:before {
  content: "\e9cd";
}

.user:before {
  content: "\e7ce";
}

.tablet-fill:before {
  content: "\e8ce";
}

.group:before {
  content: "\e9ce";
}

.team:before {
  content: "\e7cf";
}

.book-fill:before {
  content: "\e8cf";
}

.send:before {
  content: "\e9cf";
}

.areachart:before {
  content: "\e7d0";
}

.redenvelope-fill:before {
  content: "\e8d0";
}

.Report:before {
  content: "\e9d0";
}

.linechart:before {
  content: "\e7d1";
}

.safetycertificate-f:before {
  content: "\e8d1";
}

.View:before {
  content: "\e9d1";
}

.barchart:before {
  content: "\e7d2";
}

.propertysafety-fill:before {
  content: "\e8d2";
}

.shortcut:before {
  content: "\e9d2";
}

.pointmap:before {
  content: "\e7d3";
}

.insurance-fill:before {
  content: "\e8d3";
}

.ungroup:before {
  content: "\e9d3";
}

.container:before {
  content: "\e7d4";
}

.securityscan-fill:before {
  content: "\e8d4";
}

.database:before {
  content: "\e7d5";
}

.file-exclamation-fil:before {
  content: "\e8d5";
}

.sever:before {
  content: "\e7d6";
}

.file-add-fill:before {
  content: "\e8d6";
}

.mobile:before {
  content: "\e7d7";
}

.file-fill:before {
  content: "\e8d7";
}

.tablet:before {
  content: "\e7d8";
}

.file-excel-fill:before {
  content: "\e8d8";
}

.redenvelope:before {
  content: "\e7d9";
}

.file-markdown-fill:before {
  content: "\e8d9";
}

.book:before {
  content: "\e7da";
}

.file-text-fill:before {
  content: "\e8da";
}

.filedone:before {
  content: "\e7db";
}

.file-ppt-fill:before {
  content: "\e8db";
}

.reconciliation:before {
  content: "\e7dc";
}

.file-unknown-fill:before {
  content: "\e8dc";
}

.file-exception:before {
  content: "\e7dd";
}

.file-word-fill:before {
  content: "\e8dd";
}

.filesync:before {
  content: "\e7de";
}

.file-zip-fill:before {
  content: "\e8de";
}

.filesearch:before {
  content: "\e7df";
}

.file-pdf-fill:before {
  content: "\e8df";
}

.solution:before {
  content: "\e7e0";
}

.file-image-fill:before {
  content: "\e8e0";
}

.fileprotect:before {
  content: "\e7e1";
}

.diff-fill:before {
  content: "\e8e1";
}

.file-add:before {
  content: "\e7e2";
}

.file-copy-fill:before {
  content: "\e8e2";
}

.file-excel:before {
  content: "\e7e3";
}

.snippets-fill:before {
  content: "\e8e3";
}

.file-exclamation:before {
  content: "\e7e4";
}

.batchfolding-fill:before {
  content: "\e8e4";
}

.file-pdf:before {
  content: "\e7e5";
}

.reconciliation-fill:before {
  content: "\e8e5";
}

.file-image:before {
  content: "\e7e6";
}

.folder-add-fill:before {
  content: "\e8e6";
}

.file-markdown:before {
  content: "\e7e7";
}

.folder-fill:before {
  content: "\e8e7";
}

.file-unknown:before {
  content: "\e7e8";
}

.folder-open-fill:before {
  content: "\e8e8";
}

.file-ppt:before {
  content: "\e7e9";
}

.database-fill:before {
  content: "\e8e9";
}

.file-word:before {
  content: "\e7ea";
}

.container-fill:before {
  content: "\e8ea";
}

.file:before {
  content: "\e7eb";
}

.sever-fill:before {
  content: "\e8eb";
}

.file-zip:before {
  content: "\e7ec";
}

.calendar-check-fill:before {
  content: "\e8ec";
}

.file-text:before {
  content: "\e7ed";
}

.image-fill:before {
  content: "\e8ed";
}

.file-copy:before {
  content: "\e7ee";
}

.idcard-fill:before {
  content: "\e8ee";
}

.snippets:before {
  content: "\e7ef";
}

.creditcard-fill:before {
  content: "\e8ef";
}

.audit:before {
  content: "\e7f0";
}

.fund-fill:before {
  content: "\e8f0";
}

.diff:before {
  content: "\e7f1";
}

.read-fill:before {
  content: "\e8f1";
}

.Batchfolding:before {
  content: "\e7f2";
}

.contacts-fill:before {
  content: "\e8f2";
}

.securityscan:before {
  content: "\e7f3";
}

.delete-fill:before {
  content: "\e8f3";
}

.propertysafety:before {
  content: "\e7f4";
}

.notification-fill:before {
  content: "\e8f4";
}

.safetycertificate:before {
  content: "\e7f5";
}

.flag-fill:before {
  content: "\e8f5";
}

.insurance:before {
  content: "\e7f6";
}

.moneycollect-fill:before {
  content: "\e8f6";
}

.alert:before {
  content: "\e7f7";
}

.medicinebox-fill:before {
  content: "\e8f7";
}

.delete:before {
  content: "\e7f8";
}

.rest-fill:before {
  content: "\e8f8";
}

.hourglass:before {
  content: "\e7f9";
}

.shopping-fill:before {
  content: "\e8f9";
}

.bulb:before {
  content: "\e7fa";
}

.skin-fill:before {
  content: "\e8fa";
}

.experiment:before {
  content: "\e7fb";
}

.video-fill:before {
  content: "\e8fb";
}

.bell:before {
  content: "\e7fc";
}

.sound-fill:before {
  content: "\e8fc";
}

.trophy:before {
  content: "\e7fd";
}

.bulb-fill:before {
  content: "\e8fd";
}

.rest:before {
  content: "\e7fe";
}

.bell-fill:before {
  content: "\e8fe";
}

.USB:before {
  content: "\e7ff";
}

.filter-fill:before {
  content: "\e8ff";
}

.skin:before {
  content: "\e800";
}

.fire-fill:before {
  content: "\e900";
}

.home:before {
  content: "\e801";
}

.funnelplot-fill:before {
  content: "\e901";
}

.bank:before {
  content: "\e802";
}

.gift-fill:before {
  content: "\e902";
}

.filter:before {
  content: "\e803";
}

.hourglass-fill:before {
  content: "\e903";
}

.funnelplot:before {
  content: "\e804";
}

.home-fill:before {
  content: "\e904";
}

.like:before {
  content: "\e805";
}

.trophy-fill:before {
  content: "\e905";
}

.unlike:before {
  content: "\e806";
}

.location-fill:before {
  content: "\e906";
}

.unlock:before {
  content: "\e807";
}

.cloud-fill:before {
  content: "\e907";
}

.lock:before {
  content: "\e808";
}

.customerservice-fill:before {
  content: "\e908";
}

.customerservice:before {
  content: "\e809";
}

.experiment-fill:before {
  content: "\e909";
}

.flag:before {
  content: "\e80a";
}

.eye-fill:before {
  content: "\e90a";
}

.moneycollect:before {
  content: "\e80b";
}

.like-fill:before {
  content: "\e90b";
}

.medicinebox:before {
  content: "\e80c";
}

.lock-fill:before {
  content: "\e90c";
}

.shop:before {
  content: "\e80d";
}

.unlike-fill:before {
  content: "\e90d";
}

.rocket:before {
  content: "\e80e";
}

.star-fill:before {
  content: "\e90e";
}

.shopping:before {
  content: "\e80f";
}

.unlock-fill:before {
  content: "\e90f";
}

.folder:before {
  content: "\e810";
}

.alert-fill:before {
  content: "\e910";
}

.folder-open:before {
  content: "\e811";
}

.api-fill:before {
  content: "\e911";
}

.folder-add:before {
  content: "\e812";
}

.highlight-fill:before {
  content: "\e912";
}

.deploymentunit:before {
  content: "\e813";
}

.phone-fill:before {
  content: "\e913";
}

.accountbook:before {
  content: "\e814";
}

.edit-fill:before {
  content: "\e914";
}

.contacts:before {
  content: "\e815";
}

.pushpin-fill:before {
  content: "\e915";
}

.carryout:before {
  content: "\e816";
}

.rocket-fill:before {
  content: "\e916";
}

.calendar-check:before {
  content: "\e817";
}

.thunderbolt-fill:before {
  content: "\e917";
}

.calendar:before {
  content: "\e818";
}

.tag-fill:before {
  content: "\e918";
}

.scan:before {
  content: "\e819";
}

.wrench-fill:before {
  content: "\e919";
}

.select:before {
  content: "\e81a";
}

.tags-fill:before {
  content: "\e91a";
}

.boxplot:before {
  content: "\e81b";
}

.bank-fill:before {
  content: "\e91b";
}

.build:before {
  content: "\e81c";
}

.camera-fill:before {
  content: "\e91c";
}

.sliders:before {
  content: "\e81d";
}

.error-fill:before {
  content: "\e91d";
}

