$sj-flex-flow: (
  row: row,
  row-dense: row dense,
  column: column,
  column-dense: column dense
);

$sj-flex-justify-items: (
  start: start,
  end: end,
  center: center,
  stretch: stretch
);

$sj-flex-justify-self: $sj-flex-justify-items;

$sj-flex-align-self: $sj-flex-justify-items;
