.sj-menu {
  .sj-sub-menu {
    box-sizing: border-box;
    &-header {
      display: flex;
      cursor: pointer;
      padding-right: 16px;
      height: var(--sj-height-large);
      line-height: var(--sj-height-large);

      .sj-sub-menu-icon {
        margin-right: 8px;
      }

      .sj-sub-menu-title {
        flex-grow: 1;
        flex-shrink: 1;
      }

      &:hover {
        .sj-sub-menu-icon > .sj-icon,
        .sj-sub-menu-title,
        .sj-sub-menu-expand-icon > .sj-icon {
          color: var(--sj-primary-color);
        }
      }

      &:active {
        background-color: var(--sj-primary-focus-background-color);
      }

      .sj-sub-menu-expand-icon {
        margin-left: 8px;
        transition: transform 0.2s ease-in-out;
        &-up {
          transform: rotate(180deg);
        }
      }

      .sj-sub-menu-expanded-icon {
        transform: rotate(180deg);
      }
    }

    &-body {
      overflow-y: hidden;
    }

    /* active */
    &-active {
      > .sj-sub-menu-header {
        .sj-sub-menu-icon > .sj-icon,
        .sj-sub-menu-title,
        .sj-sub-menu-expand-icon > .sj-icon {
          color: var(--sj-primary-color);
        }
      }
    }

    /* disabled */
    &-disabled {
      .sj-sub-menu-header {
        cursor: not-allowed;

        .sj-sub-menu-icon > .sj-icon,
        .sj-sub-menu-title,
        .sj-sub-menu-expand-icon > .sj-icon {
          color: var(--sj-disable-color);
        }

        &:active {
          background-color: transparent;
        }
      }
    }
  }
}